*{
  box-sizing: border-box;
}
body, html{
  background-color: rgb(17,17,17);
}
.brand img{
  width: 125px;
  margin-left: 15px;
}
nav{
  background-color: rgb(35,35,35);
}
.videocont{
  margin-top: 100px;
}
.descricao, .showRelated, .comment-div{
  display: none;
}
hr{
  border-top: 1px solid rgb(46,46,46);
}
.search {
  margin-top: 15px;
}
.search span{
  color: white;
  font-size: 17px;
}
.idioma{
  float: right;
  margin-top: -35px;
}
.glyphicon{
  color: red;
  font-size: 18px;
}
.cont{
  margin-left: 260px;
  margin-top: 100px;
  width: 80%;
}
.lateral{
  color: white;
  width: 260px;
  position: fixed;
  height: 100%;
  background-color: rgb(28,28,28);
  margin-top: 70px;
  padding: 10px;
}
.menu{
  position: fixed;
  z-index: 1000;
}
.lateral ul {
  list-style-type: none;
}
.lateral a:focus, .lateral a:hover {
  color: black;
}
.link{
  height: 213px;
}
.lateral a, .link a, .relac a{
  text-decoration: none;
  color: white;
}
.nav-sidebar i{
  width: 30px;
  color: rgb(195,44,35);
  font-size: 25px;
}
@media only screen and (max-width: 480px) {
  .brand {
    display: none;
  }
  .idioma{
    width: 150px;
  }
  iframe{
    width: 426px;
    height: 240px;
  }
}
@media only screen and (min-width:481px) and (max-width:1200px) {
  iframe{
    width: 640px;
    height: 360px;
  }
}
@media only screen and (max-width:991px){
  .relvid{
    text-align: center;
  }
  .relac b{
    font-size: 40px;
  }
}
@media only screen and (max-width: 1297px) {
  .lateral {
    display: none;
  }
  .cont{
    margin-left: 0px;
    width: 100%;
  }
}
